<a href="https://colab.research.google.com/github/bhavya5463/DA-LAB/blob/da-lab/Data_Frames_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.	Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.
import pandas as pd
a=pd.Series([2,4,6,8,10])
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [ ]:
#2.	Write a pandas program to convert a pandas module series to python list.
a=pd.Series([10,20,30,40,50])
print(a)
print(type(a))
b=a.tolist()
print(type(b))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>
<class 'list'>

In [ ]:
#3.	Write a pandas program to add, subtract, multiple and divide two pandas series.
l=pd.Series([1,2,3,4,5])
l1=pd.Series([6,7,8,9,10])
c=l+l1
print("add:",c)
d=l-l1
print("subtract:",d)
e=l*l1
print("multiplication:",e)
f=l/l1
print("division:",f)

add: 0     7
1     9
2    11
3    13
4    15
dtype: int64
subtract: 0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64
multiplication: 0     6
1    14
2    24
3    36
4    50
dtype: int64
division: 0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [ ]:
#4.	Write a Pandas program to convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values.
a=pd.Series(['a','b','c','X','Y','Z','ABC'])
print(a.str.upper())
print(a.str.lower())
print(a.str.len())

0      A
1      B
2      C
3      X
4      Y
5      Z
6    ABC
dtype: object
0      a
1      b
2      c
3      x
4      y
5      z
6    abc
dtype: object
0    1
1    1
2    1
3    1
4    1
5    1
6    3
dtype: int64

In [ ]:
#5.	Write a Pandas program to remove whitespaces, left sided whitespaces and right sided whitespaces of the string values of a given pandas series
color=pd.Index([' red ','pink ',' blue'])
print("remove spaces")
a=color.str.strip()
print(a)
print("remove left spaces")
print(color.str.lstrip())
print("remove right spaces")
c=color.str.rstrip()
print(c)

remove spaces
Index(['red', 'pink', 'blue'], dtype='object')
remove left spaces
Index(['red ', 'pink ', 'blue'], dtype='object')
remove right spaces
Index([' red', 'pink', ' blue'], dtype='object')

In [ ]:
#6.	Write a Pandas program to create and display a DataFrame consist of student name, father name , mobile number as columns and register number as index.
a={'name':['bhavya','vasu'],'father name':['ashok','teja'],'mobile':['9346653999','1234567899']}
no=[66,34]
df=pd.DataFrame(a,index=no)
print(df)

      name father name      mobile
66  bhavya       ashok  9346653999
34    vasu        teja  1234567899

In [ ]:
#7.	Write a Pandas program to get list from DataFrame column headers.
print(list(df.columns.values))

['name', 'father name', 'mobile']

In [ ]:
#8.	Write a Pandas program to change the name of the student.
print(df)
df['name']=df['name'].replace('vasu','ravali')
print(df)

      name father name      mobile
66  bhavya       ashok  9346653999
34    vasu        teja  1234567899
      name father name      mobile
66  bhavya       ashok  9346653999
34  ravali        teja  1234567899

In [ ]:
#9.	Write a Pandas program to insert a new column “grade” in existing DataFrame
grade=[4,7]
df['grade']=grade
print(df)

      name father name      mobile  grade
66  bhavya       ashok  9346653999      4
34  ravali        teja  1234567899      7

In [ ]:
#10.Write a pandas program to create and display a dataframe from a specified dictionary data which has the index labels.
a={'name':['bhavya','sai','aasmika'],'number':['98764677','23445678','334556677']}
labels=['a','b','c']
b=pd.DataFrame(a,index=labels)
print(b)

      name     number
a   bhavya   98764677
b      sai   23445678
c  aasmika  334556677