<a href="https://colab.research.google.com/github/bhavya5463/DA-LAB/blob/da-lab/DATA_FRAMES_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#How to create a Dataframe
#•	Creating a DataFrame from a list of lists
import pandas as pd
a=[[1,2,3],[4,5,6],[7,8,9]]
b=pd.DataFrame(a)
print(b)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
#•	Creating a DataFrame from a dict of lists:
a={'name':['bhavya','sai'],'no':[66,89]}
b=pd.DataFrame(a)
print(b)

     name  no
0  bhavya  66
1     sai  89

In [ ]:
#•	Creating an index DataFrame from a dict of lists:
a={'name':['bhavya','sai'],'no':[66,89]}
b=pd.DataFrame(a,index=['a','b'])
print(b)

     name  no
a  bhavya  66
b     sai  89

In [ ]:
#•	Creating a DataFrame from a list of dicts
a=[{1:'a',2:'b',3:'c'},{1:'d',2:'e',3:'f'}]
b=pd.DataFrame(a)
print(b)

   1  2  3
0  a  b  c
1  d  e  f

In [ ]:
#•	Creating a DataFrame from a list of dicts and specifying the row indices.
a=[{1:'a',2:'b',3:'c'},{1:'d',2:'e',3:'f'}]
b=pd.DataFrame(a,index=['row1','row2'])
print(b)

      1  2  3
row1  a  b  c
row2  d  e  f

In [ ]:
#•	Creating a DataFrame from a list of dicts and specifying both the row indices and the column indices
a=[{1:'a',2:'b',3:'c'},{1:'d',2:'e',3:'f'}]
b=pd.DataFrame(a,index=['row1','row2'],columns=[1,2,3])
print(b)

      1  2  3
row1  a  b  c
row2  d  e  f

In [ ]:
#•	Creating a DataFrame from a list of tuples:
a=[(1,2),(3,4),(5,6)]
b=pd.DataFrame(a,columns=['a','b'])
print(b)

   a  b
0  1  2
1  3  4
2  5  6

In [ ]:
#•	Creating a DataFrame using the zip() function
name=['sai','bhavya']
age=['20','21']
a=list(zip(name,age))
b=pd.DataFrame(a,columns=['name','age'])
print(b)

     name age
0     sai  20
1  bhavya  21

In [ ]:
#•	Creating an empty DataFrame
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#2. How to sort rows within a pandas dataframe
students=[('bhavya',66),('anusha',87),('prathima',91),('bhavya',143)]
df=pd.DataFrame(students,columns=['name','age'],index=['a','b','c','d'])
print(df)
print("after sorting")
res=df.sort_values(by='name')
print(res)

       name  age
a    bhavya   66
b    anusha   87
c  prathima   91
d    bhavya  143
after sorting
       name  age
b    anusha   87
a    bhavya   66
d    bhavya  143
c  prathima   91

In [ ]:
#3. How to find the largest value in a pandas dataframe
a=[[1,8,3],[7,2,5]]
df=pd.DataFrame(a,columns=['col1','col2','col3'])
print(df.max())
print(df.min())

col1    7
col2    8
col3    5
dtype: int64
col1    1
col2    2
col3    3
dtype: int64

In [ ]:
#4. How to list unique value in a pandas dataframe
students={'name':['bhavya','bhavya','prathima','harshi'],'age':[66,143,91,87]}
df=pd.DataFrame(students,columns=['name','age'])
print(df.name.unique())

['bhavya' 'prathima' 'harshi']

In [ ]:
#5. How to delete duplicates from a pandas dataframe
data={'name':['bhavya','prathima','anusha','harshi','prathima'],'no':[66,91,92,87,143]}
df=pd.DataFrame(data)
print(df)
newdf=df.drop_duplicates()
print(newdf)

       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143
       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143

In [ ]:
#6. Rename column header in a pandas dataframes.
import pandas as pd
data={'name':['bhavya','prathima','anusha','harshi','prathima'],'no':[66,91,92,87,143]}
df=pd.DataFrame(data)
print(df)
df1=df.rename(columns={'no':'registration_number','name':'NAME'})
print(df1)

       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143
       NAME  registration_number
0    bhavya                   66
1  prathima                   91
2    anusha                   92
3    harshi                   87
4  prathima                  143

In [ ]:
#7. Search pandas dataframe for a value Note:The .where function helps to search a pandas dataframe for a value.
import pandas as pd 
data={'name':['bhavya','prathima','anusha','harshi','prathima'],'no':[66,91,92,87,143]} 
df=pd.DataFrame(data) 
print(df) 
print(df['no'].where(df['name']=='bhavya'))

       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143
0    66.0
1     NaN
2     NaN
3     NaN
4     NaN
Name: no, dtype: float64

In [ ]:
#8. Drop row and column in a pandas dataframe
data={'name':['bhavya','prathima','anusha','harshi','prathima'],'no':[66,91,92,87,143]} 
df=pd.DataFrame(data) 
print(df) 
print("rows deletion")
print(df.drop([1,2],axis=0))
print("column deletion")
print(df.drop(df.columns[[1]],axis=1))

       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143
rows deletion
       name   no
0    bhavya   66
3    harshi   87
4  prathima  143
column deletion
       name
0    bhavya
1  prathima
2    anusha
3    harshi
4  prathima

In [ ]:
#9. How to filter in a pandas dataframe
data={'name':['bhavya','prathima','anusha','harshi','prathima'],'no':[66,91,92,87,143]} 
df=pd.DataFrame(data) 
print(df)
df[df['no']==66]

print(df.iloc[0:2,0:1])
print('using loc')
print(df.loc[0:2,'name'])

       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143
       name
0    bhavya
1  prathima
using loc
0      bhavya
1    prathima
2      anusha
Name: name, dtype: object

In [ ]:
#10. How to calculate moving average in a pandas dataframe
data={'name':['bhavya','prathima','anusha','harshi','prathima'],'no':[66,91,92,87,143]} 
df=pd.DataFrame(data) 
print(df)
df['cumsum']=df['no'].cumsum()
print(df)

       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143
       name   no  cumsum
0    bhavya   66      66
1  prathima   91     157
2    anusha   92     249
3    harshi   87     336
4  prathima  143     479

In [ ]:
#11. How to normalise a column in a pandas dataframe

In [ ]:
#12. How to assign new columns in a pandas dataframe
data={'name':['bhavya','prathima','anusha','harshi','prathima'],'no':[66,91,92,87,143]} 
df=pd.DataFrame(data)
print(df)
df['marks']=[20,80,67,94,58]
print(df)

       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143
       name   no  marks
0    bhavya   66     20
1  prathima   91     80
2    anusha   92     67
3    harshi   87     94
4  prathima  143     58

In [ ]:
#13. How to rank a pandas dataframe in ascending and descending order
data={'name':['bhavya','prathima','anusha','harshi','prathima'],'no':[66,91,92,87,143]} 
df=pd.DataFrame(data)
print(df)
df['rank']=df['no'].rank(ascending=False)
print(df)

       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143
       name   no  rank
0    bhavya   66   5.0
1  prathima   91   3.0
2    anusha   92   2.0
3    harshi   87   4.0
4  prathima  143   1.0

In [ ]:
#14.Add row to a DataFrame
data={'name':['bhavya','prathima','anusha','harshi','prathima'],'no':[66,91,92,87,143]} 
df=pd.DataFrame(data)
print(df)
df1=pd.DataFrame({'name':['lovely'],'no':[198]},index=[5])
df1=df.append(df1)
print(df1)

       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143
       name   no
0    bhavya   66
1  prathima   91
2    anusha   92
3    harshi   87
4  prathima  143
5    lovely  198