<a href="https://colab.research.google.com/github/bhavya5463/DA-LAB/blob/da-lab/IRIS_DATASET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1)Print the dataset iris 
import pandas as pd
df=pd.read_csv("/content/iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
#2)Print the structure of the dataset iris 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [ ]:
#3)Print the summary of all the variables of the dataset iris (Hint: Use function summary()) 
print(df.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
#4)How many of the variables (columns) are in the dataset iris
print(len(df.columns))

5

In [ ]:
#5)How many observations (rows) are in the dataset iris 
print(len(df.index))

150

In [ ]:
#6)Use duplicated() function to print the logical vector indicating the duplicate values present in the dataset iris
t=df.duplicated()
print(t.tolist())

[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False]

In [ ]:
#7)Extract duplicate elements from the dataset iris
df[df.duplicated()==True]

     sepal_length  sepal_width  petal_length  petal_width    species
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
142           5.8          2.7           5.1          1.9  virginica

In [ ]:
#8)Extract unique elements from the dataset iris
for i in range(df.shape[1]):
  print("unique values in column ",i+1, df.iloc[:,i].unique())

AttributeError: ignored

In [ ]:
#9)Print the indices of duplicate elements in the dataset iris
print(df[t].index)

Int64Index([34, 37, 142], dtype='int64')

In [ ]:
#10)Print the indices of unique elements in the dataset iris
print(df[~df.duplicated()].index)

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            139, 140, 141, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=147)

In [ ]:
#11)How many unique elements are in the dataset iris
print("unique elements:",len(df)-len(df[t]))

unique elements: 147

In [ ]:
#12)How many duplicate elements are in the dataset iris 
print("duplicated:",len(df[t]))

duplicated: 3

In [ ]:
#13)Print  the sorted elements in the dataset iris(Ascending  order based on index
print(df.sort_values(by="sepal_length",ascending=True))

     sepal_length  sepal_width  petal_length  petal_width    species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

In [ ]:
#14)â€¢	find whether any missing values are in the dataset iris
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [ ]:
#15)display how many missing values are present in each column.
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
#16)â€¢	replace all missing values with zero
df.fillna(0)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
#17)â€¢	Calculate  Petal width mean ,median ,SD,Variance  for the species setosa
t=df['species']=="setosa"
k=df[t]["petal_width"]
print("mean:",k.mean())
print("median:",k.median())
print("standard deviation:",k.std())
print("variance:",k.var())

mean: 0.244
median: 0.2
standard deviation: 0.1072095030816784
variance: 0.011493877551020411

In [ ]:
#18)â€¢	Print from 10th row to 20th row of iris dataset.
print(df.iloc[10:21,:])

    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa

In [ ]:
#19)â€¢	Print Species and its corresponding Petal length and Width 
print(df[["species","petal_length","petal_width"]])

       species  petal_length  petal_width
0       setosa           1.4          0.2
1       setosa           1.4          0.2
2       setosa           1.3          0.2
3       setosa           1.5          0.2
4       setosa           1.4          0.2
..         ...           ...          ...
145  virginica           5.2          2.3
146  virginica           5.0          1.9
147  virginica           5.2          2.0
148  virginica           5.4          2.3
149  virginica           5.1          1.8

[150 rows x 3 columns]

In [ ]:
#20)â€¢	display records only with species "Iris-setosa"
print(df[df['species']=="setosa"])

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [ ]:
#21)â€¢	count number of times a particular species has occurred
df["species"].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [ ]:
#22)â€¢	Identifying minimum and maximum Value of Sepal width.
print("minimum:",df['sepal_width'].min())
print("maximum:",df['sepal_width'].max())

minimum: 2.0
maximum: 4.4

In [ ]:
#23)â€¢	Add new column to store sum of  first column values
df['new_col']=df['sepal_length'].sum()
df

     sepal_length  sepal_width  petal_length  petal_width    species  new_col
0             5.1          3.5           1.4          0.2     setosa    876.5
1             4.9          3.0           1.4          0.2     setosa    876.5
2             4.7          3.2           1.3          0.2     setosa    876.5
3             4.6          3.1           1.5          0.2     setosa    876.5
4             5.0          3.6           1.4          0.2     setosa    876.5
..            ...          ...           ...          ...        ...      ...
145           6.7          3.0           5.2          2.3  virginica    876.5
146           6.3          2.5           5.0          1.9  virginica    876.5
147           6.5          3.0           5.2          2.0  virginica    876.5
148           6.2          3.4           5.4          2.3  virginica    876.5
149           5.9          3.0           5.1          1.8  virginica    876.5

[150 rows x 6 columns]